header{
    text-align: center;
    font-weight: bold;
    background-color: #ef9a9a;
    color: white;
    margin: 20px;
    padding:15px;
    font-size: large;  
}

.search-text{
    margin-bottom: 10px;
    margin: 30px;
    font-weight: bold;
    color:#4db6ac;
}


#search-content {
    width: 60%;
    height: 40px;
}

#search-section{
    margin-left: 60px;
}

#search-button {
    margin-left: 170px;
}

#right-side-title {
    font-weight: bold;
    color:#4db6ac;
    margin: 30px;
}

.map-info-row{
    height: 320px;
}


.results-row {
    margin:20px;
    border-style: solid;
    background-color: #ef9a9a;
}

footer{
    text-align: center;
}